*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

header{
    width: 230px;
    height: calc(100vh - 80px);
    background-color: black;
}

main{
    width: calc(100% - 230px);
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow: scroll;
}

div.upgrade{
    height: 70px;
    background-color: #080b12;
    width: 100%;
}

footer{
    width: 100%;
    background-color: #282828;
    height: 80px;
}

div.discs{
    flex-wrap: wrap;
}

div.disc{
    background-color: red;
    width: calc((100% / 6) - 1rem);
    height: 100px;
    border: 2px solid green;
    margin: .5rem .5rem;
}

@media screen and (max-width: 992px) {
    div.discs{
        flex-wrap: wrap;
    }
    div.disc{
        width: calc((100% / 4) - 1rem);
    }
}
@media screen and (max-width: 768px) {
    div.discs{
        flex-wrap: wrap;
    }
    div.disc{
        width: calc((100% / 2) - 1rem);
    }
}
@media screen and (max-width: 576px) {

}