*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-space-beetwen{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

body{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
}

header#minore576px{
    display: none;
    }

header#maggiore576px{
    width: 230px;
    height: calc(100vh - 80px);
    background-color: black;
    padding: .5rem 2.5rem;
    overflow: hidden;
}

div.header-disposition{
    justify-content: space-between;
    height: calc(100% - 70px);
}

div.logo{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

div.logo img{
    width: 70%;
}

nav ul li img{
    width: 20px;
    margin-right: .3rem;
    /* filter: grayscale(100%); */
}

nav h3{
    margin-top: 1rem;
}

nav ul li{
    list-style-type: none;
    margin-top: .5rem;
    font-size: .75rem;
    color: gray;
    cursor: pointer;
    position: relative;
}

div.trattino-lime-verticale{
    position: absolute;
    background-color: lime;
    height: 100%;
    width: 2px;
    right: 101%;
    display: none;
}

nav ul:first-child li:hover div.trattino-lime-verticale{
    display: block;
} 

nav ul li:hover{
    color: white;
    font-weight: 700;
}
nav ul li:hover div.plus{
    background-color: white;
}

li.crea-play i{
    color: black;
    font-size: 1.1rem;
}

li.crea-play p{
    align-items: center;
    margin-left: .3rem;
}

div.plus{
    background-color: #a3a3a3;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

div.profile img{
    width: 15px;
}

div.profile p{
    margin-left: .3rem;
    font-size: .75rem;
    cursor: pointer;
}

div.profile p:hover{
    color: white;
    font-weight: 700;
}

div.profile hr{
    margin: .4rem 0;
    border: 0.2px solid gray;
}

div.profile figure{
    background-color: #84868a;
    border-radius: 50%;
    padding: .1rem .3rem;
}

main{
    width: calc(100% - 230px);
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow-y: auto;
}

div.upgrade{
    height: 70px;
    background-color: #080b12;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

#button-upgrade{
    border: 1px solid white;
    background-color: #080b12;
    border-radius: 33rem;
    padding: .7rem 1.5rem;
    color: white;
    font-size: .7rem;
    cursor: pointer;
    margin-right: 1rem;
    transition: all .4s ease-in-out
}

#button-upgrade:hover{
    scale: 1.25;
}

div.trattino-lime{
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: lime;
    left: 50%;
    translate: -50% 0;
    display: none;
}

div.generi{
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

div.generi ul li{
    list-style-type: none;
    color: #84868a;
    display: inline;
    margin: 1rem;
    cursor: pointer;
    position: relative;
}

div.generi ul li:hover{
    color: white;
    font-weight: 700;
}

div.generi ul li:hover div.trattino-lime{
    display: block;
}

div.generi ul{
    text-align: center;
}

main p, h2{
    margin-left: .5rem;
}

div.discs{
    flex-wrap: wrap;
}

div.disc{
    width: calc((100% / 6) - 1rem);
    margin: 0 .5rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

div.disc-img{
    text-align: center;
    margin-bottom: .7rem;
    position: relative;
    cursor: pointer;
}

div.disc-img div.opacita{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .6;
    display: none;
}

div.disc-img i{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: none;
    z-index: 2;
}

div.disc-img:hover>i{
    display: block;
}

div.disc-img:hover>.opacita{
    display: block;
}

div.disc-img img{
    width: 100%;
}

div.disc-img figure{
    overflow: hidden;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

div.disc-text{
    text-align: center;
}

p.sottotitolo{
    color: gray;
    font-size: .7rem;

}

footer{
    width: 100%;
    background-color: #282828;
    height: 80px;
}

footer i{
    font-size: 1.05rem;
}

div.organaizer-footer{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

div.organaizer-footer div.block1{
    align-items: center;
    justify-content: space-around;
    width: 230px;
}

div.block1 p.sottotitolo:hover{
    text-decoration: underline;
}

div.canzone-riproduzione{
    align-items: center;
    justify-content: space-between;
}

div.canzone-riproduzione img{
    width: 50px;
    margin-right: 0.4rem;
}

div.like-folder{
    width: 16%;
    justify-content: space-between;
}

div.like-folder i{
    color: gray;
    cursor: pointer;
}

div.like-folder i:hover{
    color: white;
}

div.organaizer-footer div.block2{
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding: .4rem;
}

div.strumenti{
    justify-content: center;
    align-items: center;
}

div.strumenti i{
    margin: 0 1rem;
}

div.strumenti i:nth-child(3):hover{
    scale: 1.25;
    cursor: pointer;
}

div.tempo{
    align-items: center;
}

div.barra{
    width: 90%;
    margin: 0 1rem;
}

div.tempo p{
    font-size: .6rem;
}

div.dark-gray{
    width: 90%;
    height: 5px;
    background-color: #5c5c5c;
    border-radius: 33rem;
}

div.light-gray{
    width: 10%;
    height: 5px;
    background-color: #8c8c8c;
    border-radius: 33rem;
    position: relative;
}

div.dark-gray-volume{
    width: 60%;
    height: 5px;
    background-color: #5c5c5c;
    border-radius: 33rem;
}

div.light-gray-volume{
    width: 40%;
    height: 5px;
    background-color: #8c8c8c;
    border-radius: 33rem;
    position: relative;
}

div.white-point{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    left: 100%;
    bottom: 50%;
    translate: -50% 50%;
    display: none;
}

div.light-gray:hover{
    background-color: lime;
}

div.light-gray-volume:hover{
    background-color: lime;
}

div.light-gray-volume:hover div.white-point{
    display: block;
}

div.light-gray:hover div.white-point{
    display: block;
}

div.organaizer-footer div.block3{
    align-items: center;
    justify-content: space-around;
    width: 230px;
}

div.barra-piccola{
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

div.barra-piccola i{
    margin-right: .4rem;
}














@media screen and (max-width: 1100px) {
    div.discs{
        flex-wrap: wrap;
    }
    div.disc{
        width: calc((100% / 4) - 1rem);
    }
}
@media screen and (max-width: 700px) {
    div.discs{
        flex-wrap: wrap;
    }
    div.disc{
        width: calc((100% / 2) - 1rem);
    }
    div.like-folder{
        width: 16%;
        justify-content: space-between;
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    header#maggiore576px{
        display: none;
    }
    header#minore576px{
    display: block;
    width: 60px;
    height: calc(100vh - 80px);
    background-color: black;
    overflow: hidden;
    padding: .3rem 15px;
    }
    main{
        width: calc(100% - 60px);
    }
    header#minore576px img{
        width: 30px;
        margin-bottom: .5rem;
    }
    header#minore576px figure img{
        width: 20px;
        margin-bottom: .5rem; 
    }
    header#minore576px figure{
        background-color: #84868a;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
    }
}