*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

body{
    color: white;
}

header{
    width: 230px;
    height: calc(100vh - 80px);
    background-color: black;
    padding: .5rem 2.5rem;
    overflow: hidden;
}

div.header-disposition{
    justify-content: space-between;
    height: calc(100% - 45px);
}

div.logo{
    margin-bottom: 1.5rem;
}

div.img-logo{
    background-color: aqua;
    flex-basis: 30%;
    text-align: end;
} 

div.text-logo{
    background-color: greenyellow;
    flex-basis: 70%;
} 

nav h3{
    margin-top: 1rem;
}

nav ul li{
    list-style-type: none;
    margin-top: .5rem;
}

main{
    width: calc(100% - 230px);
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow: scroll;
}

div.upgrade{
    height: 70px;
    background-color: #080b12;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

#button-upgrade{
    border: 2px solid white;
    background-color: #080b12;
    border-radius: 33rem;
    padding: .7rem 1.5rem;
    color: white;
    font-size: .7rem;
    cursor: pointer;
}

div.generi{
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

div.generi ul li{
    list-style-type: none;
    color: #84868a;
    display: inline;
    margin: 1rem;
    
}

main p, h2{
    margin-left: .5rem;
}

div.discs{
    flex-wrap: wrap;
}

div.disc{
    background-color: red;
    width: calc((100% / 6) - 1rem);
    border: 2px solid green;
    margin: .5rem .5rem;
    flex-direction: column;
    align-items: center;
}

div.disc-img{
    background-color: aquamarine;
    text-align: center;
    height: 120px;
    width: 120px;
}

div.disc-img figure{
    overflow: hidden;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

div.disc-text{
    text-align: center;
}

footer{
    width: 100%;
    background-color: #282828;
    height: 80px;
}

@media screen and (max-width: 1100px) {
    div.discs{
        flex-wrap: wrap;
    }
    div.disc{
        width: calc((100% / 4) - 1rem);
    }
}
@media screen and (max-width: 700px) {
    div.discs{
        flex-wrap: wrap;
    }
    div.disc{
        width: calc((100% / 2) - 1rem);
    }
}
@media screen and (max-width: 576px) {

}